
   	<h1>Autor: <%= nombre %></h1>
	<img src='http://static.stereogum.com/uploads/2012/11/My-Bloody-Valentine-608x609.jpg' alt='MBV'>
<br>
 	<iframe width="560" height="315" src="https://www.youtube.com/embed/oiomcuNlVjk" frameborder="0" allowfullscreen></iframe>
